@model WebDelivery2.Models.Driver

@{
    ViewData["Title"] = "Driver Profile";
    var orders = ViewBag.Orders as List<WebDelivery2.Models.Order>;
    var addresses = ViewBag.Addresses as List<WebDelivery2.Models.Address>;
    var customers = ViewBag.Customers as List<WebDelivery2.Models.Customer>;
}

<div class="profile-header">
    <h2>@Model.Firstname @Model.Lastname</h2>
    <p class="profile-info"><strong>Баланс:</strong> @Model.Money руб.</p>
    <p class ="profile-info"><strong>Email:</strong> @Model.Email</p>
    <p class="profile-info"><strong>Телефон:</strong> @Model.Phone</p>
    <p class="profile-info"><strong>Номер:</strong> @Model.Licensenumber</p>
</div>


<h1>Заказы</h1>
<table class="table orders-table">
    <thead>
        <tr>
            <th>Имя заказчика</th>
            <th>Адрес подбора</th>
            <th>Адрес доставки</th>
            <th>Дата заказа</th>
            <th>Описание</th>
            <th>Оплата</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (orders != null && addresses != null)
        {
            @foreach (var order in orders)
            {
                <tr>
                    @foreach (var customer in customers)
                    {
                        if (customer.Id == order.CustomerId)
                        {
                            <td>@customer.Firstname @customer.Lastname</td>
                        }
                    }
                    @foreach (var address in addresses)
                    {
                        if (address.Id == order.PickupaddressId)
                        {
                            <td>@address.Country, @address.City, @address.Street, @address.House</td>
                        }
                    }
                    @foreach (var address in addresses)
                    {
                        if (address.Id == order.DeliveryaddressId)
                        {
                            <td>@address.Country, @address.City, @address.Street, @address.House</td>
                        }
                    }
                    <td>@order.Date.ToString()</td>
                    <td>@order.Description?.ToString()</td>
                    <td>@(order.Price / 2) руб.</td>
                    <td>
                        @if (order.Status == OrderStatus.pending)
                        {
                            <form asp-action="TakeOrder" method="post">
                                <input type="hidden" name="id" value="@order.Id" />
                                <input type="hidden" name="driverId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary">Взять заказ</button>
                            </form>
                        }
                        else if (order.Status == OrderStatus.intransit)
                        {
                            <form asp-action="TakeOrder" method="post">
                                <input type="hidden" name="id" value="@order.Id" />
                                <input type="hidden" name="driverId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary">Заказ привезен</button>
                            </form>
                        }
                        else
                        {
                            <p>Ждите заказчика</p>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="8">Заказы не найдены</td></tr>
        }
    </tbody>
</table>