@model WebDelivery2.Models.Customer
@{
    ViewData["Title"] = "ProfileCustomer";
    var orders = ViewBag.Orders as List<WebDelivery2.Models.Order>;
    var addresses = ViewBag.Addresses as List<WebDelivery2.Models.Address>;
    var drivers = ViewBag.Drivers as List<WebDelivery2.Models.Driver>;
}

<div class="profile-header">
    <h1>@Model.Firstname @Model.Lastname</h1>
    <p class="profile-info"><strong>Баланс:</strong> @Model.Money руб.</p>
    <p class="profile-info"><strong>Email:</strong> @Model.Email</p>
    <p class="profile-info"><strong>Телефон:</strong> @Model.Phone</p>
    <div>
        @if (Model.Money < 0)
        {
            <button class="btn btn-primary" disabled>Создать заказ</button>
        }
        else
        {
            @Html.ActionLink("Создать заказ", "CreateOrder", "Order", new { customerid = Model.Id }, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Пополнить баланс", "Money", "Money", new { customerid = Model.Id }, new { @class = "btn btn-primary" })
    </div>
</div>

<script>
    var disabledButton = document.querySelector('button[disabled]');
    if (disabledButton) {
        disabledButton.addEventListener('click', function (event) {
            event.preventDefault(); 
            showAlert(); 
        });
    }
</script>

<h2>Список заказов</h2>
<div class="table-responsive">
    <table class="table orders-table">
        <thead>
            <tr>
                <th>Адрес сбора</th>
                <th>Адрес доставки</th>
                <th>Дата заказа</th>
                <th>Статус</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Водитель</th>
                <th>Принять заказ</th>
            </tr>
        </thead>
        <tbody>
            @if (orders != null && addresses != null)
            {
                @foreach (var order in orders.Where(o => o.CustomerId == Model.Id && o.Status == OrderStatus.delivered))
                {
                    <tr>
                        @foreach (var address in addresses)
                        {
                            if (address.Id == order.PickupaddressId)
                            {
                                <td data-label="Адрес сбора">@address.Country, @address.City, @address.Street, @address.House</td>
                            }
                        }
                        @foreach (var address in addresses)
                        {
                            if (address.Id == order.DeliveryaddressId)
                            {
                                <td data-label="Адрес доставки">@address.Country, @address.City, @address.Street, @address.House</td>
                            }
                        }
                        <td data-label="Дата заказа">@order.Date.ToString()</td>
                        <td data-label="Статус">Доставлен</td>
                        <td data-label="Описание">@order.Description?.ToString()</td>
                        <td data-label="Цена">@order.Price.ToString() руб.</td>
                        <td data-label="Водитель">
                            @{
                                var driver = drivers.FirstOrDefault(d => d.Id == order.DriverId);
                                if (driver != null)
                                {
                                    <span>@driver.Firstname @driver.Lastname</span>
                                }
                                else
                                {
                                    <span>Не принят</span>
                                }
                            }
                        </td>
                        <td data-label="Принять заказ">
                            @if (order.Status == OrderStatus.delivered)
                            {
                                <form asp-action="AcceptOrder" method="post">
                                    <input type="hidden" name="id" value="@order.Id" />
                                    <input type="hidden" name="customerId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-primary">Принять заказ</button>
                                </form>
                            }
                            else
                            {
                                <p>Дождитесь вашего заказа</p>
                            }
                        </td>
                    </tr>
                }
                @foreach (var order in orders.Where(o => o.CustomerId == Model.Id && o.Status != OrderStatus.delivered))
                {
                    <tr>
                        @foreach (var address in addresses)
                        {
                            if (address.Id == order.PickupaddressId)
                            {
                                <td data-label="Адрес сбора">@address.Country, @address.City, @address.Street, @address.House</td>
                            }
                        }
                        @foreach (var address in addresses)
                        {
                            if (address.Id == order.DeliveryaddressId)
                            {
                                <td data-label="Адрес доставки">@address.Country, @address.City, @address.Street, @address.House</td>
                            }
                        }
                        <td data-label="Дата заказа">@order.Date.ToString()</td>
                        @if (order.Status == OrderStatus.pending)
                        {
                            <td data-label="Статус">Отправлен</td>
                        }
                        else if (order.Status == OrderStatus.intransit)
                        {
                            <td data-label="Статус">Принят</td>
                        }
                        <td data-label="Описание">@order.Description?.ToString()</td>
                        <td data-label="Цена">@order.Price.ToString() руб.</td>
                        <td data-label="Водитель">
                            @{
                                var driver = drivers.FirstOrDefault(d => d.Id == order.DriverId);
                                if (driver != null)
                                {
                                    <span>@driver.Firstname @driver.Lastname</span>
                                }
                                else
                                {
                                    <span>Не принят</span>
                                }
                            }
                        </td>
                        <td data-label="Принять заказ">
                            @if (order.Status == OrderStatus.delivered)
                            {
                                <form asp-action="AcceptOrder" method="post">
                                    <input type="hidden" name="id" value="@order.Id" />
                                    <input type="hidden" name="customerId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-primary">Принять заказ</button>
                                </form>
                            }
                            else
                            {
                                <p>Дождитесь вашего заказа</p>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8">Заказов нет</td></tr>
            }
        </tbody>
    </table>
</div>

